@media (max-width: 1100px) {
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
  }

  .box .content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
  }

  .footer-top nav {
    width: 100%;
  }

  .footer-top nav:last-child {
    grid-column: 1 / 3;
  }
}

@media (max-width: 900px) {
  .navbar .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-left,
  .menu-right {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .box .container > div {
    grid-template-columns: 1fr;
  }

  .box-2 .content,
  .box-4 .content {
    grid-row: 2;
  }

  .box-2 img,
  .box-4 img {
    grid-row: 1;
  }

  .box-5 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 30px;
  }

  .navbar .container,
  footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero .container,
  .box .container {
    padding-left: 0;
    padding-right: 0;
  }
}
