@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 500;
  color: #1b1b1b;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  font-size: 20px;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  margin: 30px 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  background-color: transparent;
  color: #1b1b1b;
  border: 2px solid #1b1b1b;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Open Sans";
  cursor: pointer;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
}

.navbar .container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
  margin-right: 40px;
}

.menu-left {
  flex: 1;
  display: flex;
  gap: 30px;
}

.menu-left li a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-left li a:hover {
  color: #008000;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-right a {
  font-size: 17px;
  font-weight: 600;
}

.menu-right a:hover {
  color: #008000;
}

.marker {
  width: 25px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.sign-in,
.join-now {
  font-size: 16px;
}

.sign-in:hover {
  background-color: #f1f1f1;
}

.join-now {
  background-color: #1b1b1b;
  color: #ffffff;
}

.join-now:hover {
  opacity: 0.75;
}

.fa-bars {
  font-size: 25px;
  display: none;
}

/* Hero section */
.hero .container div {
  padding: 80px 30px;
  background-color: #006241;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.hero a {
  color: #ffffff;
  font-size: 18px;
  border-bottom: 2px solid #ffffff;
}

.hero a:hover {
  opacity: 0.8;
}

/* Box sections */
.box .container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-1,
.box-2,
.box-4 {
  background-color: #d50032;
}

.box-3 {
  background-color: #006241;
}

.box .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box .content {
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  color: #ffffff;
}

.box .btn {
  margin-top: 8px;
  color: #ffffff;
  border-color: #ffffff;
  transition: transform 200ms ease-in;
}

.box .btn:hover {
  transform: translateY(-3px);
}

.box-4 p,
.box-5 p {
  font-size: 17px;
}

.box-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-5 div .img {
  grid-row: 1 / 2;
  grid-column: 1 /3;
}

.box-5 div .content {
  height: 300px;
  grid-row: 2 / 3;
  grid-column: 1 /3;
}

.inner-box-1 {
  background-color: #d4e9e2;
}

.inner-box-2 {
  background-color: #006241;
}

.inner-box-1 .content {
  color: #1b1b1b;
}

.inner-box-1 .btn {
  color: #1b1b1b;
  border-color: #1b1b1b;
}

/* Footer */
footer {
  padding: 40px 0;
}

/* Footer-top */
.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top nav {
  width: 190px;
}

.footer-top ul h3 {
  margin-bottom: 20px;
}

.footer-top ul li {
  margin-bottom: 15px;
  font-size: 14px;
}

/* Footer bottom */
.footer-bottom {
  margin-top: 70px;
  text-align: center;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 28px;
  transition: transform 200ms ease;
}

.social-links img:hover {
  transform: scale(1.2);
}

.copyright {
  margin-top: 15px;
  font-size: 14px;
}
